@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .promo {
        min-height: 600px;
        padding: 21px 0 60px 0;
    }
    .promo__wrapper {
        margin-top: 70px;
    }
}