@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .promo {
        min-height: 600px;
        padding-bottom: 60px;
        &__wrapper {
            margin-top: 70px;
        }
    }
}