@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        min-height: 480px;
        padding-bottom: 40px;
        &__header {
            font-size: 32px;
        }
        &__subheader {
            display: none;
        }
        &__icons {
            margin-top: 40px;
        }
    }
    .title {
        font-size: 22px;
        line-height: 32px;
    }
    .consultation {
        min-height: 400px;
        padding: 40px 0 40px;
        &__descr {
            margin-top: 40px;
        }
    }
}